html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

#audio_box {
  margin-left: 9.25%;
  margin-right: 9.25%;
}

#audio_box > audio {
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 9.25%;
  margin-right: 9.25%;
}

.game-background {
  /*background: url("https://i.ytimg.com/vi/z0nWLfwr_1w/maxresdefault.jpg");*/
  background-position: center;
  height: 80%;
}

.game-overlay {
  background-color: #000000;
  opacity: .9;
  position: relative;
  height: 100%;
}

/*score-box*/

.score-box {
  padding-left: 9.25%;
  padding-right: 9.25%;
}

.dashboard {
  display: inline-block;
  font-family: 'Exo', sans-serif;
  color: white;
  margin-right: 10%;
}

/*welcome message*/

.welcome-message {
  position: absolute;
  top: 20%;
  color: white;
  font-family: 'Exo', sans-serif;
  width: 100%;
  text-align: center;
}

.header {
  color: #9fdbff;
}

.highlight {
  color: #7bff14;
}

.start-button {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Exo', sans-serif;
  background-color: #4d4d4d;
  color: white;
  border: 0;
  border-radius: 5px;
}

.start-button:hover {
  cursor: pointer;
  background-color: #9fdbff;
}

.hide {
  display: none;
}

.start {
  position: absolute;
  top: 30%;
  color: white;
  font-family: 'Exo', sans-serif;
  margin-left: 50%;
  font-size: 50px;
}
